<%= form_for(resource, :as => resource, :url => registration_path(resource), :html => { :method => :put }) do |f| %>
		<div>
			<%= f.text_field :email, :autofocus => true, :required => true, :placeholder => "Email Address" %>
		</div>
		<div>
			<%= f.text_field :current_password, :placeholder => "Current Password", :required => true %>
		</div>
		<div>
			<%= f.text_field :password_confirmation, :placeholder => "New Password Confirmation", :required => false %>
		</div>



		<div class="form-actions">
			<%= f.submit "Update" , :class => "btn btn-info" %>
		</div>
<% end %>