<%= form_for(:status_reports) do |f| %>
 

  <div class="field">
    <%= f.label :project %><br />
    
  </div>
  <div class="field">
    <%= f.label :user %><br />
    
  </div>
  <div class="field">
    <%= f.label :yesterday %><br />
    
  </div>
  <div class="field">
    <%= f.label :today %><br />
    
  </div>
  <div class="field">
    <%= f.label :status_date %><br />
    
  </div>
  <div class="field">
    <%= f.label :invoke %><br />
    
  </div>
  <div class="field">
    <%= f.label :rspec %><br />
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
