<% @status_reports.each do |post| %>
	<div class="row">
		<div class="span7 well">
			<div class="span1" style="margin-left: -5px">
				<%= image_tag("#{post.user.avatar}") %>
			</div>
			<div class="span4">
				<span class="">Yesterday:</span>
				<div class="yesterday">
					<%= post.yesterday %>
				</div>
				<span class="">Today:</span>
				<div class="today">
					<%= post.today %>
				</div>
				<span class="light">
					posted by: <%= post.user.display_name %> /
				</span>
				<br/>
				<span class="light-span" data-id="<%=post.id%>" data-timestamp="<%= post.created_at.strftime("%Y-%m-%d %H:%M:%S:%L") %>">
					posted: <%= time_ago_in_words(post.created_at) %>
				</span>
				
			</div>
			<div class="icon" style="float: right">
				<%= post.project.name %>
			</div>

		</div>
	</div>
<% end %>