<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :user %><br/>
    <% for user in User.find(:all) %>
          <%= check_box_tag "project[user_ids][]",user.id, @project.users.include?(user) %>
          <%= user.display_name %>
    <% end %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
