<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">

            <h1>Listing projects</h1>
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

            <% @projects.each do |project| %>
              <tr>
                <td><%= project.name %></td>
                <td>
                  <% project.users.each do |user| %>  
                      <%= user.display_name %>
                  <% end %>
                </td>
                <td>|<%= admin? %>|<% if admin? %><%= link_to 'Show', project %><% end %></td>
                <td><% if admin? %><%= link_to 'Edit', edit_project_path(project) %><% end %></td>
                <td><% if admin? %><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
              </tr>
            <% end %>
            </table>

            <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
        </div>      
      </div>
  </div>
</div>